@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#0a0a0a] text-zinc-100;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#0a0a0a];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full border-2 border-[#0a0a0a] hover:bg-zinc-700 transition-colors;
  }
}
